#tetri {
    /* background-color: #ffcc00; */
    width: 400px;
    height: 800px;
}

#nextGrid {
    width: 120px;
    height: 120px;
}

#tetri div {
    width: 40px;
    height: 40px
}

#nextGrid div {
    width: 30px;
    height: 30px;
}

/* Tetriminos */

.tetrimino {
    border: 2px white solid;
    border-radius: 0.375em;
}

.tetrimino.next {
    border-radius: 0.25em;
}

.tetrimino.l {
    background-color: #ffcc00;
}

.tetrimino.j {
    background-color: #ffcc00;
}

.tetrimino.z {
    background-color: #fc0fc0;
}

.tetrimino.s {
    background-color: #00ffcc;
}

.tetrimino.t {
    background-color: #0fc0fc;
}

.tetrimino.o {
    background-color: #cf0cf0;
}

.tetrimino.i {
    background-color: #ccff00;
}